<div>
    <h4>CAMPUS CONFIGURATION</h4>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="k-content">
                    <div ng-if="datatable.loader" class="loader"></div>
                </div>
                <div class="table-responsive">
                    <table id="entry-grid" datatable="ng" width="100%" dt-options="dtOptions">
                        <thead>
                        <th>Campus ID</th>
                        <th>Campus Name</th>                       
                        <th>Campus Desc</th>
                        <th>Monthly Consumption</th>
                        <th>Edit</th>
                        <th>Add Building</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="campus in campusList">                               
                                <td>{{campus.CampusID}}</td>
                                <td>{{campus.CampusName}}</td>
                                <td>{{campus.CampusDesc | date}}</td>
                                <td>{{campus.MonthlyConsumption}}</td>
                                <td><a ng-click="openPopup(campus)" title="View Details"><i class="fa fa-edit"></i></a></td>
                                <td><a ng-click="addBuilding(campus)" title="View Details"><i class="fa fa-plus"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn" style="background-color:#31573e;color:white;" ng-click="addCampus()">Add Campus</button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="editCampus.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit Details </h3>
    </div>
    <div >
        <div class="col-lg-offset-1 col-lg-10 ">
            <input class="form-control" style="margin-top:20px;" placeholder="Campus Name" type="text" ng-model="campus.CampusName" />
            <input class="form-control" style="margin-top:20px;" placeholder="Campus Description" type="text" ng-model="campus.CampusDesc" />
            <input class="form-control" style="margin-top:20px;" placeholder="latitude" type="text" ng-model="campus.Latitude" />
            <input class="form-control" style="margin-top:20px;margin-bottom:20px;" placeholder="longitude" type="text" ng-model="campus.Longitude" />
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Edit</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="addCampus.html">
    <div class="modal-header">
        <h3 class="modal-title">Add Campus </h3>
    </div>
    <div>
        <div class="col-lg-offset-1 col-lg-10 ">
            <input class="form-control" style="margin-top:20px;" placeholder="Campus Name" type="text" ng-model="campus.CampusName" />
            <input class="form-control" style="margin-top:20px;" placeholder="Campus Description" type="text" ng-model="campus.CampusDesc" />
            <input class="form-control" style="margin-top:20px;" placeholder="latitude" type="text" ng-model="campus.Latitude" />
            <input class="form-control" style="margin-top:20px;margin-bottom:20px;" placeholder="longitude" type="text" ng-model="campus.Longitude" />
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Add</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>