<div header></div>
<div class="dashboard-page">
    <div class="container-fluid">
        <div class="row">
            <div style="background-color:#1d4c2a;margin-top:60px;">
                <div id="scrolldiv" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>

                </div>

                <div class="col-sm-3  col-md-2 sidebar" style="margin-top:60px;color:black;">

                    <br />
                    <div class="text-center" style="padding: 5px 5px 5px 5px;">
                        <img src="./app/images/{{avatar}}" class="user-avatar" ng-click="openPopup()" style="border:solid #192c1f;border-radius: 50%;" />
                        <h4>{{username}}&nbsp;{{lastname}}</h4>
                        <button class="btn" style="background-color:#c6d82e;color:white;" ng-click="logoutb2c()">Logout</button>
                    </div>
                    <!--
                    <ul class="nav nav-sidebar side-menu">
                        <li ng-click="makeActive(0)" class="side-menu-li" ng-class="{active: $state.includes('overview')}"><a ui-sref="overview" style="{{li_css[0]}}background-color: white;color:#192c1f;border-bottom:solid 1px grey;">DASHBOARD <span class="sr-only">(current)</span></a></li>
                        <li ng-click="makeActive(1)" class="side-menu-li" ng-class="{active: $state.includes('reports')}"><a ui-sref="reports" style="{{li_css[1]}}background-color: white;color:#192c1f;border-bottom:solid 1px grey;">REPORTS</a></li>
                        <li ng-click="makeActive(2)" class="side-menu-li" ng-class="{active: $state.includes('profile')}"><a ui-sref="profile" style="{{li_css[2]}}background-color: white;color:#192c1f;border-bottom:solid 1px grey;">PROFILE</a></li>
                        <li ng-click="makeActive(3)" class="side-menu-li" ng-class="{active: $state.includes('alerts')}"><a ui-sref="alerts" style="{{li_css[3]}}background-color: white;color:#192c1f;border-bottom:solid 1px grey;">ALERTS<label ng-if="alertCount!==0" class="alertCount" style="float:right;">{{alertCount}}</labelng-if=></a></li>
                        <li ng-click="makeActive(4)" class="side-menu-li" ng-class="{active: $state.includes('feedback')}"><a ui-sref="feedback" style="{{li_css[4]}}background-color: white;color:#192c1f;border-bottom:solid 1px grey;">FEEDBACK</a></li>
                        <li ng-click="makeActive(4)" class="side-menu-li" ng-class="{active: $state.includes('feedback')}">
                            <a ui-sref="feedback" style="{{li_css[4]}}background-color: white;color:#192c1f;border-bottom:solid 1px grey;">FEEDBACK</a>
                        </li>



                    </ul>-->
                    <div class="left-menu">

                        <div class="accordion">
                            <div class="section" ng-click="changeState('overview')">
                                <input type="radio" name="accordion-1" id="section-1" checked="checked" />
                                <label for="section-1"><span>DASHBOARD</span></label>

                            </div>
                            <div class="section" ng-click="changeState('reports')">
                                <input type="radio" name="accordion-1" id="section-2" value="toggle" />
                                <label for="section-2"> <span>REPORTS</span></label>
                            </div>
                            <div class="section" >
                                <input type="radio" name="accordion-1" id="section-3" value="toggle" />
                                <label for="section-3"> <span>CONFIGURATION</span></label>
                                <div class="content">
                                    <ul>
                                        <!--<li ng-click="changeState('piconf')"><i class="fa fa-cog"></i><span>Pi Conf</span></li>-->
                                        <li ng-click="changeState('campusconf')"><i class="fa fa-university"></i><span>Campus Conf</span></ling-click="changeState('profile')">
                                        <!--<li ng-click="changeState('dataconf')"><i class="fa fa-database"></i><span>Data Conf</span></li>-->
                                        <li ng-click="changeState('userconf')"><i class="fa fa-group"></i><span>User Conf</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="section" ng-click="changeState('profile')">
                                <input type="radio" name="accordion-1" id="section-4" value="toggle" />
                                <label for="section-4"> <span>PROFILE</span></label>
                            </div>-->
                            <div class="section" ng-click="changeState('alerts')">
                                <input type="radio" name="accordion-1" id="section-5" value="toggle" />
                                <label for="section-5"> <span>ALERTS</span></label>
                            </div>

                            <div class="section" ng-click="changeState('feedback')">
                                <input type="radio" name="accordion-1" id="section-6" value="toggle" />
                                <label for="section-6">
                                    <span>FEEDBACK</span>
                                </label>
                            </div>

                        </div>
                    </div>
                    <a href="https://mseastus.blob.core.windows.net/general/PowerMap_Dec_27_2016.xlsx" class="header-download-link">DOWNLOAD POWER MAP REPORT</a>

                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/ng-template" id="changeAvatarModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Choose Avatar </h3>
    </div>
    <div class="modal-body">
        <div class="gallery cf">
            <div ng-repeat="x in images">
                <img ng-click="selectImage($index)" style="height:100px;width:100px;border:solid {{x.color}};" src="./app/images/{{x.src}}" />
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Change</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>