<link href="./app/css/Main.css" rel="stylesheet">
<link href="./bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
<div class="dashboard-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" style="color:white;">
                <div style="height:50px;"> 
                    <img src="./Assets/logo.png" alt="logo" style="height:45px;width:50px;float:left;" />
                    <h1 style="position: relative;margin-left:70px;">CSU</h1>
                </div>
                
                <div class="text-center">
                    <h4>{{username}}&nbsp;{{lastname}}</h4>
                    <img src="./app/images/flat-avatar.png" class="user-avatar" /><!--<div class="notification"></div>--><br />
                    <button  class="btn btn-white btn-outline" ng-click="logout()">Logout</button>
                </div>
               
                <ul class="nav nav-sidebar side-menu" style="margin-left:2px;margin-right:2px;">
                    <li ng-click="makeActive(0)" class="side-menu-li" ng-class="{active: $state.includes('overview')}"><a  ui-sref="overview" style="{{li_css[0]}}">DASHBOARD <span class="sr-only">(current)</span></a></li>
                    <li ng-click="makeActive(1)" class="side-menu-li" ng-class="{active: $state.includes('reports')}"><a ui-sref="reports" style="{{li_css[1]}}">REPORTS</a></li>
                    <li ng-click="makeActive(2)" class="side-menu-li" ng-class="{active: $state.includes('profile')}"><a ui-sref="profile" style="{{li_css[2]}}">PROFILE</a></li>
                    
                </ul>
             
                   <div class="weather-widget" ng-show="weather.hasState == 'has-success'">
                    
                    <ul style="padding:0;">
                        <li ng-repeat="forecast in weather.forecast" class="forecast">
                            <div class="row">
                                <div class="col-sm-4">
                                    <weather-icon code="{{ forecast.code }}"></weather-icon>
                                </div>
                                <div class="col-sm-offset-1 col-sm-7">
                                    <h5>{{weather.temp}}&deg;{{weather.unit}}&nbsp;&nbsp;{{ forecast.text }}</h5>                                    
                                    <h5> min: {{ forecast.low | temp:forecast.unit }}</h5>
                                        <h5>max: {{ forecast.high | temp:forecast.unit }}</h5>
                                    <h5>{{ forecast.date }} </h5>
                                </div>   
                                
                             </div>
                        </li>
                    </ul>
                   
                </div>
                <div class="error" ng-show="weather.hasState == 'has-warning'">
                    <span ng-show="weather.message" class="alert"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{weather.message}}</span>
                </div>          
            
             </div>
            <div id="scrolldiv" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view >
                
            </div>
        </div>
    </div>
</div>
