<div>
    <h4>FEEDBACK REPORT</h4>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="highchart-wrapper col-sm-9">
                    <div ng-if="loading" class="loader"></div>
                    <div class="panel panel-default">
                        <div ng-show="configurationError" class="iframe-class-report-page powerBiError" style="height:490px;">

                        </div>
                        <div ng-show="!configurationError" class="panel-body" style="height:80vh;">
                            <iframe id="feedback" src="" class="iframe-class-report-page" frameborder="1" seamless></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-body" style="height:80vh;overflow:auto;">
                            <div class="sensor-detail  col-sm-12">
                                <label>Select Premise &nbsp;</label><select ng-options="premise.PremiseID as premise.PremiseName for premise in Premises" ng-change="getBuildingList()" ng-model="selectedPremise" style="z-index:1;width:70px;"></select>   </label>    </br>
                                <label>Select Building &nbsp;</label><select ng-options="building.BuildingID as building.BuildingName for building in Buildings" ng-change="getClassRoomList()" ng-model="selectedBuilding" style="z-index:1;width:70px;"></select>   </label>    </br>
                                <label>Select Room &nbsp;</label><select ng-options="class.ClassId as class.ClassDescription for class in Classes" ng-change="getSensorList()" ng-model="selectedClass" style="z-index:1;width:70px;"></select>   </label>    </br>
                                <h3>ROOM DETAILS </h3></br>
                                <div ng-repeat="sensor in sensors">
                                    <h4>{{sensor.Sensor_Name}}</h4>
                                    <Label>Humidity :&nbsp;&nbsp;</Label>{{sensor.Humidity.toFixed(2)}}</br>
                                    <Label>Brightness :&nbsp;&nbsp;</Label>{{sensor.Brightness.toFixed(2)}}</br>
                                    <Label>Temperature :&nbsp;&nbsp;</Label>{{sensor.Temperature.toFixed(2)}}</br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


