
<link rel="stylesheet" type="text/css" href="./app/css/map.css" />
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
<script>
   
    function loadMapScenario() {
        angular.element(document.getElementById('mapView')).scope().afterMapLoad();
    }

</script>
<div style="color:white;">
    <div class="flip">
        <div class="card">
            <div class="face front">
                <div class="">
                    <div class="">
                        <div class="ui-widget">

                            <div class="row">
                                <img class="flip-button" src="./app/images/building_icon.png" ng-click="flip()" style="position: absolute;z-index:4;margin-top:5px;cursor:pointer;left:10px;">
                                

                                <div class="dash-unit col-sm-12" style="height:60vh;padding:0;">
                                    <div id='mapView'>
                                        <span ng-if="back_button" class="glyphicon glyphicon-circle-arrow-left gi-3x" style="margin-left:20px;position:absolute;z-index:101;cursor:pointer;left: 50px;" ng-click="loadCampus()"></span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="face back">
                <div id="layout" class="jumbotron">
                    <div class="container">
                        <div class="ui-widget">
                            <div class="row">
                                <div class="col-sm-9">
                                    <img class="flip-button" src="./app/images/class_icon.png" ng-click="flip()" style="position: absolute;z-index:4;margin-top:5px;cursor:pointer;left:0px;">
                                    <img src="./app/images/map_04.png" alt="Mountain View" style="width:990px;height:60vh;">

                                    <div ng-repeat="sensor in sensors">
                                        <div ng-if=sensor.Class_Id id="sensor_layout_{{sensor.Sensor_Id}}" data-drag="true" class="sensor col-sm-3" style="position:absolute;display:block;top:{{sensor.Class_X+($index*20)-65}}px;left:{{sensor.Class_Y+($index*20)-135}}px;cursor:pointer;cursor:pointer;" ng-click="showSensorDetails(sensor)">
                                            <h5 class="blink_me" style="position:absolute;margin-left:85px;margin-top:5px;cursor:pointer;color:white;">{{sensor.Temperature.toFixed(0)}}</h5>
                                            <img src="./app/images/bullet_green.svg" alt="Mountain View" style="height:30px; width:30px;z-index:1;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3" style="color:black;">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="sensor-detail  col-sm-12">
                                                <h3>SENSOR DETAILS </h3></br>
                                                <h4>{{selectedSensor.Sensor_Name}}</h4>
                                                <Label>Humidity :&nbsp;&nbsp;</Label>{{selectedSensor.Humidity.toFixed(2)}}</br>
                                                <Label>Brightness :&nbsp;&nbsp;</Label>{{selectedSensor.Brightness.toFixed(2)}}</br>
                                                <Label>Temperature :&nbsp;&nbsp;</Label>{{selectedSensor.Temperature.toFixed(2)}}</br>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <h4 class="header-text">INSIGHTS</h4>
    <div class="">
        <div class="dash-unit">
            <div class="ui-widget">

                <div class="row">
                    <div class="col-sm-12" style="padding:0;">
                        <div class="recommendation-bar">
                            <div class="recommendation-bar-content">
                                <div class="col-sm-4">
                                    <span class="glyphicon glyphicon-arrow-up arrow color-blue" aria-hidden="true"></span>
                                    <h2 style="">{{insight.ConsumptionValue.toFixed(2)}}K</h2>
                                    <label>CONSUMED IN LAST WEEK(KWH)</label>
                                </div>
                                <div class="col-sm-4">
                                    <span class="glyphicon glyphicon-arrow-down arrow color-red" aria-hidden="true"></span>
                                    <h2 style="">{{insight.overused.toFixed(2)}}K</h2>
                                    <label>{{usage}}</label>
                                </div>
                                <div class="col-sm-4">
                                    <span class="glyphicon glyphicon-arrow-up arrow color-green" aria-hidden="true"></span>
                                    <h2 style="">{{insight.PredictedValue.toFixed(2)}}K</h2>
                                    <label>EXPECTED</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div ng-repeat="recommendation in recommendations | limitTo:2" class="row">
                    <div class="col-sm-12 recommendation-content">
                        <div class="col-sm-8">
                            <div class="col-sm-12 recommendation-title">
                                {{recommendation.Alert_Type}}
                            </div>
                            <div class=" col-sm-12 recommendation-text">
                                {{recommendation.Alert_Desc}}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label>{{recommendation.Timestamp | date}} </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <a class="recommendation-view-more" ui-sref="recommendation">VIEW MORE</a>
                </div>
            </div>

        </div>
    </div>
</div>
<h4 class="header-text">SUMMARY&nbsp;{{MeterName}}</h4>
<div class="jumbotron">
    <div class="container">
        <div class="ui-widget">
            <div id="example">
                <div class="row">
                    <div id="srollreports" class="dash-unit col-sm-12" style="height:100%;padding:0;">
                        <!--<div class="configuration-error">
                            <h2>{{configurationError}}</h2>
                        </div>-->
                        <iframe id="summary" src="" class="iframe-class-report-page" frameborder="1" seamless></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="header-text">SUMMARY DETAILS&nbsp;{{MeterName}}</h4>
<div class="jumbotron">
    <div class="container">
        <div class="ui-widget">
            <div id="example">
                <div class="row">
                    <div id="srollreports" class="dash-unit col-sm-12" style="height:100%;padding:0;">
                        <iframe id="summarydetails" src="" class="iframe-class-report-page" frameborder="1" seamless></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




