<link rel="stylesheet" type="text/css" href="../app/css/map.css" />
<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>
<script>

    function loadMapScenario() {
        console.log("loaded");

        angular.element(document.getElementById('myMap1')).scope().loadMapScenario();

    }
   // loadMapScenario();
</script>
<!--<div class="jumbotron" style="height:60%;">
    <div class="container">
        <div id='myMap' class="map"></div>
    </div>
 </div>-->
<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a>
	<h2>Overview <small>Why is Ani Theme so awesome?</small></h2>
	<div class="jumbotron">
		<div class="container">
        
              <div style="height:70vh;width:100%;">
                  <div id='myMap1'></div>
              </div>
            <!--<iframe ID="iFrameEmbedReport" src="" height="300" width="300" frameborder="1" seamless></iframe>-->
            <iframe ID="iFrameEmbedTile" src="" height="500px" width="500px" frameborder="0" seamless></iframe>
            <iframe id="weatherIFrame" src="" height="300px" width="500px" frameborder="0" seamless></iframe>
		</div>
	</div>
</div>

