<div>
    <h4>PROFILE</h4>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 dash-unit" >
                    <h5>Change Password</h5>
                    <input class="form-control" style="margin-top:20px;" placeholder="Old Password" type="text" ng-model="oldpwd" />
                    <input class="form-control" style="margin-top:20px;" placeholder="New Password" type="password" ng-model="newpwd" />
                    <input class="form-control" style="margin-top:20px;" placeholder="Confirm Password" type="password" ng-model="confpwd" />
                    <button class="btn" style="margin-top:20px;text-align:center;margin-left:15%;background-color:#31573e;color:white;" ng-click="changePassword()">Change Password</button>
                </div>
            </div>
            <div class="row">
                <button class="btn" style="background-color:#31573e;color:white;" ng-click="resetSensor()">Reset Sensor</button>
                <button class="btn" style="background-color:#31573e;color:white;" ng-click="resetFeedback()">Reset feedback</button>
            </div>
        </div>
    </div>
</div>


