<div>
    <a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
    <h2>Profile</h2>
  
    <div class="jumbotron">
        <div class="container">
          
            <p>Change Password</p>
            <p>
                <label>Old password</label><input class="form-control" id="inputlg" type="text" style="width:20%;margin-left:70px;" ng-model="oldpwd"></br>
                <label>New password</label><input class="form-control" id="inputlg" type="text" style="width:20%;margin-left:60px;" ng-model="newpwd"></br>
                <label>Confirm password</label><input class="form-control" id="inputlg" type="text" style="width:20%;margin-left:25px;" ng-model="confpwd"></br>
                
                <a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="changepwd()">Change Password</a>
            </p>
        </div>
    </div>
</div>