<div>
    <h4>ORGANIZATION SUMMARY </h4>
    <div class="jumbotron">
        <div class="container">
            <iframe id="summary" src="" class="iframe-class-report-page" frameborder="1" seamless></iframe>
        </div>
    </div>
</div>
<div>
    <h4>SUMMARY DETAILS </h4>
    <div class="jumbotron">
        <div class="container">
            <div ng-show="configurationError" class="iframe-class-report-page powerBiError">

            </div>
            <iframe  ng-show="!configurationError" id="summarydetails" src="" class="iframe-class-report-page" frameborder="1" seamless></iframe>
        </div>
    </div>
</div>