<div>
    <h4>USER CONFIGURATION</h4>
    <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 dash-unit">
                        <h5>Add Campus Admin</h5>
                        <input class="form-control" style="margin-top:20px;" placeholder="Email" type="text" ng-model="oldpwd" />
                        <div  ng-dropdown-multiselect="" extra-settings="dropdownSetting"
                             options="cars" selected-model="CategoriesSelected" checkboxes="true" style="margin-top:20px;"></div>
                        <button class="btn" style="margin-top:20px;text-align:center;margin-left:15%;background-color:#31573e;color:white;" ng-click="changePassword()">Add</button>
                    </div>
                </div>
            </div>
    </div>
</div>