@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600);
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
/**
 Login Page
    
**/
.login-page-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.video-container {
    background: #77a7d1;
    width: 100%;
}

.login-form {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}


/* Form Module */
.form-module {
    position: relative;
    background: #ffffff;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid rgb(1, 115, 197);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

    .form-module .toggle {
        cursor: pointer;
        position: absolute;
        top: -0;
        right: -0;
        background: rgb(1, 115, 197);
        width: 30px;
        height: 30px;
        margin: -5px 0 0;
        color: #ffffff;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
    }

        .form-module .toggle .tooltip {
            position: absolute;
            top: 5px;
            right: -65px;
            display: block;
            background: rgba(0, 0, 0, 0.6);
            width: auto;
            padding: 5px;
            font-size: 10px;
            line-height: 1;
            text-transform: uppercase;
        }

            .form-module .toggle .tooltip:before {
                content: '';
                position: absolute;
                top: 5px;
                left: -5px;
                display: block;
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 5px solid rgba(0, 0, 0, 0.6);
            }

    .form-module .form {
        display: none;
        padding: 40px;
    }

        .form-module .form:nth-child(2) {
            display: block;
        }

    .form-module h2 {
        margin: 0 0 20px;
        color: #31573e;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
    }

    .form-module input {
        outline: none;
        display: block;
        width: 100%;
        border: 1px solid #d9d9d9;
        margin: 0 0 20px;
        padding: 10px 15px;
        box-sizing: border-box;
        font-wieght: 400;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .form-module input:focus {
            border: 1px solid rgb(1, 115, 197);
            color: #333333;
        }

    .form-module button {
        cursor: pointer;
        background: rgb(1, 115, 197);
        width: 100%;
        border: 0;
        padding: 10px 15px;
        color: #ffffff;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .form-module button:hover {
            background: rgb(1, 115, 197);
        }

    .form-module .cta {
        background: #f2f2f2;
        width: 100%;
        padding: 15px 40px;
        box-sizing: border-box;
        color: #666666;
        font-size: 12px;
        text-align: center;
    }

        .form-module .cta a {
            color: #333333;
            text-decoration: none;
        }



.login-page {
    background-image: url("http://www.colostate.edu/wp-content/uploads/sites/2/2016/02/beauty_montage.mp4");
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tint {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    // background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1100;
    display: none;
}
/** Loader **/

.loader {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
}

.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

    .sk-fading-circle .sk-circle {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

        .sk-fading-circle .sk-circle:before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 15%;
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
        }

    .sk-fading-circle .sk-circle2 {
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    .sk-fading-circle .sk-circle3 {
        -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    .sk-fading-circle .sk-circle4 {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .sk-fading-circle .sk-circle5 {
        -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
        transform: rotate(120deg);
    }

    .sk-fading-circle .sk-circle6 {
        -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
        transform: rotate(150deg);
    }

    .sk-fading-circle .sk-circle7 {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .sk-fading-circle .sk-circle8 {
        -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
        transform: rotate(210deg);
    }

    .sk-fading-circle .sk-circle9 {
        -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
        transform: rotate(240deg);
    }

    .sk-fading-circle .sk-circle10 {
        -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    .sk-fading-circle .sk-circle11 {
        -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
        transform: rotate(300deg);
    }

    .sk-fading-circle .sk-circle12 {
        -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
        transform: rotate(330deg);
    }

    .sk-fading-circle .sk-circle2:before {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .sk-fading-circle .sk-circle3:before {
        -webkit-animation-delay: -1s;
        animation-delay: -1s;
    }

    .sk-fading-circle .sk-circle4:before {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .sk-fading-circle .sk-circle5:before {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

    .sk-fading-circle .sk-circle6:before {
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s;
    }

    .sk-fading-circle .sk-circle7:before {
        -webkit-animation-delay: -0.6s;
        animation-delay: -0.6s;
    }

    .sk-fading-circle .sk-circle8:before {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s;
    }

    .sk-fading-circle .sk-circle9:before {
        -webkit-animation-delay: -0.4s;
        animation-delay: -0.4s;
    }

    .sk-fading-circle .sk-circle10:before {
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s;
    }

    .sk-fading-circle .sk-circle11:before {
        -webkit-animation-delay: -0.2s;
        animation-delay: -0.2s;
    }

    .sk-fading-circle .sk-circle12:before {
        -webkit-animation-delay: -0.1s;
        animation-delay: -0.1s;
    }

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    }
}
.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}

.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}
/************************************************************HEADER*****************************************/
.header-div {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 68px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(236, 236, 236, 1);
}

.header-logo {
    position: absolute;
    top: 18px;
    left: 27px;
    height: 33px;
    width: 106px;
    float:left;
}
.header-label{
    margin-top:15px;
    font-size:20px;
}
.weather-div {
    float: right;
    width: 26vw;
    height:68px;
    
}
.weather-innerdiv {
    border-left: solid 1px rgba(234, 234, 234, 1);
    height: 68px;
}
.weather-icon {
    font-size: 20px;
    float: left;
    color: #8a82c2;
    position: relative;
    margin-top: 22px;
}
.weather-text {
    margin-top: 25px;
    /*Text styles for Rain */
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: 300;
    color: rgba(42, 42, 42, 1);
    text-align: left;
    -webkit-transform: scale(1.14);
    -ms-transform: scale(1.14);
    transform: scale(1.14);
    float: left;
    position: relative;
}
.weather-unit {
    /*Text styles for 76°F */
    font-family: 'Proxima Nova';
    font-size: 22px;
    color: rgba(42, 42, 42, 1);
    text-align: left;
    margin-top: 22px;
    margin-left: 11px;
    float: left;
    position: relative;
}
.date-icon {
    margin-top: 23px;
    height: 20px;
    width: 22px;
    float: left;
    position: relative;
}
.date-text {
    margin-top: 24px;
    height: 14px;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 300;
    color: rgba(42, 42, 42, 1);
    text-align: left;
    -webkit-transform: scale(1.14);
    -ms-transform: scale(1.14);
    transform: scale(1.14);
    float: left;
    position: relative;
    margin-left:15px;
}
/*************************************************************DASHBOARD*******************************************************/
.alertCount {
    font-family: Arial;
    font-size: 0.7em;
    font-weight: 700;
    position: absolute;
    right: 0px;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    background: #c6d82e;
}

.navigation-text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
    color: rgba(30, 77, 43, 1);
}

.flip {
    -webkit-perspective: 800;
    perspective: 800;
    text-align: center;
}

    .flip .card.flipped {
        -webkit-transform: rotatey(-180deg);
        transform: rotatey(-180deg);
    }

    .flip .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: 0.5s;
        transform-style: preserve-3d;
        transition: 0.5s;
    }

        .flip .card .face {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 2;
        }

        .flip .card .front {
            position: absolute;
            width: 100%;
            z-index: 1;
        }

        .flip .card .back {
            -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
        }

.inner {
    margin: 0px !important;
}

.dashboard-page {
    position: absolute;
    top: 70;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #666;
    margin-top: 60px;
}
.overview-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: #666;
    background-color: rgba(252, 252, 253, 1);
    margin-top: 8px;
}
    .dashboard-page .sub-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
    }

    .dashboard-page .navbar-fixed-top {
        border: 0;
    }

    .dashboard-page .sidebar {
        display: none;
        color: #fff;
    }

        .dashboard-page .sidebar .user-avatar {
            margin: 10px 0;
        }

        .dashboard-page .sidebar .brand {
            padding-top: 15px;
        }

        .dashboard-page .sidebar h2 {
            font-weight: 300;
        }

            .dashboard-page .sidebar h2 small {
                color: rgba(255,255,255,.7);
            }

@media (min-width:768px) {
    .dashboard-page .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 0 20px 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(70, 78, 120, 1);
        border-right: 1px solid #eee;
    }
}

.dashboard-page .nav > li > a:hover, .dashboard-page .nav > li > a:focus {
    background: #2698dd;
}

.dashboard-page .nav-sidebar {
}

    .dashboard-page .nav-sidebar > li > a {
        color: #fff;
        padding-right: 20px;
        padding-left: 20px;
    }

    .dashboard-page .nav-sidebar > .active > a, .dashboard-page .nav-sidebar > .active > a:hover, .dashboard-page .nav-sidebar > .active > a:focus {
        /*color: #fff;
        background-color: white;*/
    }

.dashboard-page .main {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

    .dashboard-page .main .jumbotron {
        background: #fff;
        margin-top: 20px;
    }

@media (min-width:768px) {
    .dashboard-page .main {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.dashboard-page .main .page-header {
    margin-top: 0;
}

.dashboard-page .placeholders {
    margin-bottom: 30px;
    text-align: center;
}

    .dashboard-page .placeholders h4 {
        margin-bottom: 0;
    }

.dashboard-page .placeholder {
    margin-bottom: 20px;
}

    .dashboard-page .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }

.dashboard-page .bg-fade {
    font-size: 500px;
    color: rgba(0,0,0,.1);
    position: absolute;
    right: -100px;
    top: 200px;
}

.alertCount {
    font-family: Arial;
    font-size: 0.7em;
    font-weight: 700;
    position: absolute;
    right: 0px;
    padding: 5px 8px;
    line-height: 100%;
    border: 2px #fff solid;
    border-radius: 60px;
    background: #c6d82e;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
    }

@media (min-width:768px) {
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width:768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 6px;
}

.jumbotron .container {
    max-width: 100%;
}

@media screen and (min-width:768px) {
    .jumbotron {
        padding: 48px 0;
    }

    .container .jumbotron, .container-fluid .jumbotron {
        padding-left: 5px;
        padding-right: 5px;
    }

    .jumbotron h1, .jumbotron .h1 {
        font-size: 63px;
    }
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}

.user-avatar {
    width: 125px;
    height: 125px;
    cursor: pointer;
    border: 1px solid rgba(179, 179, 179, 1);
    border-radius: 50%;
}
.user-name {
    height: 18px;
    font-family: 'Proxima Nova';
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    -webkit-transform: scale(1.14);
    -ms-transform: scale(1.14);
    transform: scale(1.14);
}
.logout-btn {
    height: 34px;
    width: 125px;
    background-color: rgba(53, 172, 207, 1);
    border-radius: 3px;
    margin-top:15px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #31573e;
}

a.text-primary:hover {
    color: #2089c9;
}

.text-success {
    color: #3c763d;
}

a.text-success:hover {
    color: #2b542c;
}

.text-info {
    color: #31708f;
}

a.text-info:hover {
    color: #245269;
}

.text-warning {
    color: #8a6d3b;
}

a.text-warning:hover {
    color: #66512c;
}

.text-danger {
    color: #a94442;
}

a.text-danger:hover {
    color: #843534;
}

.bg-primary {
    color: #fff;
    background-color: #31573e;
}

a.bg-primary:hover {
    background-color: #2089c9;
}

.bg-success {
    background-color: #dff0d8;
}

a.bg-success:hover {
    background-color: #c1e2b3;
}

.bg-info {
    background-color: #d9edf7;
}

a.bg-info:hover {
    background-color: #afd9ee;
}

.bg-warning {
    background-color: #fcf8e3;
}

a.bg-warning:hover {
    background-color: #f7ecb5;
}

.bg-danger {
    background-color: #f2dede;
}

a.bg-danger:hover {
    background-color: #e4b9b9;
}

.left-menu {
    background: white;
    color: black;
    top: 0;
    bottom: 0;
    margin-top:15px;
}
.blue-button {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(53, 172, 207, 1);
    border-radius: 3px;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 600;
    color: rgba(53, 172, 207, 1);
    height: 34px;
    width: 159px;
    margin-left: 10px;
    margin-top: 10px;
}
/**Accordion*/


/*.accordion {
    color: #FFF;
    width: 100%;
}

    .accordion .section {
        width: 100%;
    }

        .accordion .section input[type='radio'] {
            display: none;
        }

            .accordion .section input[type='radio']:checked + label:before {
                content: " ";
                position: absolute;
                border-right: 5px solid rgb(1, 115, 197);
                height: 100%;
                left: 0;
                background-color: rgba(59, 66, 103, 1);
            }

            .accordion .section input[type='radio']:checked ~ .content {
                max-height: 300px;
                opacity: 1;
                z-index: 10;
                overflow-y: auto;
                color: white;
            }

        .accordion .section label {
            position: relative;
            cursor: pointer;
            padding: 5px 10px;
            display: table;
            background: black;
            color: white;
            width: 100%;
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            -ms-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

            .accordion .section label:before {
                content: " ";
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                height: 1px;
            }

            .accordion .section label span {
                display: table-cell;
                vertical-align: middle;
            }

        .accordion .section:last-of-type {
        }

        .accordion .section .content {
            max-height: 0;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            transition: all 0.4s;
            opacity: 0;
            position: relative;
            overflow-y: hidden;
        }

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}





.accordion {
    font-size: 14px;
}

    .accordion .section .content {
        padding: 0 15px;
    }

    .accordion .section input[type='radio'] {
        display: none;
    }

        .accordion .section input[type='radio']:checked ~ .content {
            padding: 15px;
        }

    .accordion ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .accordion ul li {
            padding: 10px;
        }

            .accordion ul li i {
                font-size: 13px;
                width: 15px;
                margin-right: 15px;
            }

            .accordion ul li:hover {
                cursor: pointer;
            }

                .accordion ul li:hover i {
                    color: #c6d82e;
                }*/



.menu-list input[type=radio],
input[type=checkbox] {
    display: none;
}

.menu-list input[type="radio"]:checked + label {
    background-color: rgba(59, 66, 103, 1);
    border-right: 5px solid rgba(53, 172, 207, 1);
}

.menu-list label {
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(70, 78, 120, 1);
    font-family: 'Proxima Nova';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.05em;
    margin-bottom: 0;
    cursor: pointer;
}
.menu-icon {
    height: 16px;
    width: 18px;
}
.menu-item span {
    position: absolute;
    margin-top: 2px;
    margin-left: 15px;
}
.header-download-link {
    margin-top: 25px;
    margin-left: 10px;
    margin-right:10px;
    text-decoration: none;
    font-family: "Klavika ", Gadget, sans-serif;
    font-weight: 200;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    cursor:pointer;
}
.gallery {
    margin: 0 auto;
    padding: 5px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

    .gallery > div {
        position: relative;
        float: left;
        padding: 5px;
    }

        .gallery > div > img {
            display: block;
            width: 200px;
            transition: .1s transform;
            transform: translateZ(0); /* hack */
        }

        .gallery > div:hover {
            z-index: 1;
        }

            .gallery > div:hover > img {
                transform: scale(1.1,1.1);
                transition: .3s transform;
            }
.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}
/**********************************************overview**********************************************************/
.dash-unit {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #707070;
    height: 290px;
    box-shadow: 1px 1px 1px 1px #eaeaea;
}

    .dash-unit:hover {
        -moz-box-shadow: 2px 2px 2px 2px #eaeaea;
        -webkit-box-shadow: 2px 2px 2px 2px #eaeaea;
        box-shadow: 2px 2px 2px 2px #eaeaea;
    }

    .dash-unit dtitle {
        font-size: 11px;
        font-size: 15px;
        font-weight: bold;
        color: #707070;
        margin: 8px;
        padding: 0px;
        height: inherit;
    }

    .dash-unit hr {
        border: 0;
        border-top: 1px solid #e6e6e6;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        */;
    }

    .dash-unit h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 2px;
        letter-spacing: 0px;
        color: #ffffff;
        padding-top: 10px;
        padding-left: 5px;
        margin-top: 2px;
        text-align: center;
    }

    .dash-unit h2 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 30px;
        line-height: 26px;
        letter-spacing: 0px;
        color: #ffffff;
        padding-top: 10px;
        padding-left: 5px;
        margin-top: 2px;
        text-align: center;
    }


    .dash-unit h3 {
        font-weight: 300;
        font-size: 15px;
        line-height: 2px;
        letter-spacing: 0px;
        color: #707070;
        font-size: 16px;
        font-weight: bold;
        padding-left: 5px;
        text-align: left;
    }


    .dash-unit p {
        font-size: 14px;
        font-weight: 200;
        line-height: 16px;
        color: inherit;
        margin: 0 0 10px;
        padding: 5px;
    }

    .dash-unit h4 {
        padding-left: 5px;
        margin-top: 2px;
        font-size: 13px;
        font-weight: lighter;
        line-height: 1;
        letter-spacing: 0px;
        color: #fff;
    }

    .dash-unit bold {
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        font-weight: bold;
        color: #fff;
        vertical-align: middle;
    }


/**********Half-Unit / Used in index.html**********/
.half-unit {
    margin-bottom: 30px;
    padding-bottom: 4px;
    border: 1px solid #383737;
    background-image: url('../images/sep-half.png');
    background-color: #3d3d3d;
    color: white;
    height: 130px;
}

    .half-unit:hover {
        background-color: #4f4f4f;
        -moz-box-shadow: 3px 3px 2px 0px #151515;
        -webkit-box-shadow: 3px 3px 2px 0px #151515;
        box-shadow: 3px 3px 2px 0px #151515;
    }

    .half-unit dtitle {
        font-size: 10px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 8px;
        padding: 0px;
        height: inherit;
    }

    .half-unit hr {
        border: 0;
        border-top: 1px solid #151515;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 3px;
    }

    .half-unit h1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0px;
        color: #ffffff;
        padding-top: 10px;
        padding-left: 5px;
        margin-top: 2px;
        text-align: center;
    }

    .half-unit h4 {
        padding-left: 5px;
        margin-top: 2px;
        font-size: 13px;
        font-weight: lighter;
        line-height: 1;
        letter-spacing: 0px;
        color: #fff;
    }


    .half-unit bold {
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        font-weight: bold;
        color: #fff;
        vertical-align: middle;
    }
.header-text {
    font-weight: 400;
    color: #192c1f;
}

.flip {
    margin-top:-20px;
    text-align: center;
}

    .flip .card.flipped {
        -webkit-transform: rotatey(-180deg);
        transform: rotatey(-180deg);
    }

    .flip .card {
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -webkit-transition: 0.5s;
        transform-style: preserve-3d;
        transition: 0.5s;
    }

        .flip .card .face {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            z-index: 2;
        }

        .flip .card .front {
            position: absolute;
            width: 100%;
            z-index: 1;
        }

        .flip .card .back {
            -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
        }
.inner {
    margin: 0px !important;
}
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
.insight{
    margin-left:30px;
    margin-right:30px;
}
    .insight h4 {
        font-family: 'Proxima Nova';
        font-size: 20px;
        font-weight: 300;
        color: rgba(42, 42, 42, 1);
        
    }
.recommendation-bar {
    display: block;
    overflow: auto;
    height: 88px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
}

.recommendation-bar-content {
    padding: 15px 15px 15px 20px;
}

    .recommendation-bar-content h2 {
        display: inline;
        font-family: 'Proxima Nova';
        font-size: 28px;
        color: rgba(42, 42, 42, 1);
        margin-top:5px;
        padding:10px;
    }
    .recommendation-bar-content label {
        font-family: 'Proxima Nova';
        font-size: 14px;
        font-weight: 300;
        color: rgba(94, 94, 94, 1);
    }

.recommendation-content {
    padding: 15px 15px 15px 20px;
    height: 80px;
    border-bottom: solid 1px #D3D3D3;
}

.recommendation-title {
    color: deepskyblue;
    font-size: 18px;
}
.recommendation-text {
    font-family: 'Proxima Nova';
    font-size: 16px;
    color: rgba(42, 42, 42, 1);
    text-align: left;
}
.recommendation-date {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 300;
    color: rgba(139, 139, 139, 1);
}
.recommendation-view-more {
    float:right;
}

.arrow {
    font-size: 30px;
}
.gi-2x {
    font-size: 2em;
    color: black;
}

.gi-3x {
    font-size: 3em;
    color: black;
}

.gi-4x {
    font-size: 4em;
    color: black;
}

.gi-5x {
    font-size: 5em;
    color: black;
}
.color-blue {
    color: rgba(0, 165, 184, 1);
}

.color-red {
    color: rgba(226, 46, 27, 1);
}

.color-green {
    color: rgba(38, 166, 91, 1);
}

.configuration-error {
    position: absolute;
    margin-top: 20%;
    color: black;
}
.iframe-class {
    width: 100%;
    height: 200px;
    border: 1px solid red;
    overflow: hidden;
}

.iframe-class-overview-page {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.iframe-class-report-page {
    width: 100%;
    height: 600px;
    overflow: hidden;
}
/**********************************Alerts******************************************/
.app-modal-window .modal-dialog {
    width: 100vw;
   
}

.app-modal-anomaly .modal-dialog {
    width: 800px;
}

.powerBiError {
    background-size: 100%;
    background-image: url('../images/powerBIError.png');
    background-repeat:no-repeat;
   
}
.powerBiLoad {
    background-size: 100%;
    background-image: url('../images/powerBILoad.png');
    background-repeat: no-repeat;
}
.image {
    position: relative;
    width: 100%; /* for IE 6 */
}

/*********Feedback**************/
.panel-header {
    height: 47px;
    background-color: rgba(242, 242, 242, 1);
    text-align:center;
    position:absolute;
}
    .panel-header h4 {
        font-family: 'Proxima Nova';
        font-size: 16px;
        color: rgba(42, 42, 42, 1);
        margin-top:10px;
    }
.sensor-detail label {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 300;
    color: rgba(42, 42, 42, 1);
    text-align: left;
    margin-top:30px;
}
.sensor-detail select {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 300;
    color: rgba(42, 42, 42, 1);
    height: 32px;
    width:80%
}
#entry-grid {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
}
.table-responsive {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 300;
    margin-left: 30px;
    margin-right: 30px;
}
.table-responsive thead {
        background-color: rgba(247, 247, 247, 1);
        font-family: 'Proxima Nova';
        font-size: 14px;
}
.panel-default >  .panel-heading {
    font-family: 'Proxima Nova';
    font-size: 16px;
    color: rgba(42, 42, 42, 1);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    cursor: pointer;
}
    .panel-heading .label {
        margin-left: 19px;
    }
.panel-collapse {
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 300;
}


.panel-collapse select {
    
    color: rgba(42, 42, 42, 1);
    height: 32px;
    width: 80%
}