<div ng-hide="{{$root.hideHeader}}" class="header-div">
    <!--<a href="https://mseastus.blob.core.windows.net/general/PowerMap_Dec_27_2016.xlsx" class="header-download-link">DOWNLOAD POWER MAP REPORT</a>-->
    <div ng-show="weather.hasState == 'has-success'" style="float:right;color:white;margin-top:5px;">
        <ul style="padding:0;">
            <li ng-repeat="forecast in weather.forecast" style="display:inline-table;">
                <div class="row" style="margin-right:10px;">
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <weather-icon style="font-size:35px;" code="{{ forecast.code }}"></weather-icon>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-3" style="padding-left:0px;">
                                <label style="font-size:20px;">{{weather.temp}}&deg;{{weather.unit}}&nbsp;&nbsp;</label>
                            </div>
                            <div class="col-sm-9">
                                <label>{{ forecast.date }} </label>
                            </div>
                        </div>

                        <div class="row">
                            <label>{{ forecast.text }}</label>
                        </div>


                    </div>
                </div>

        </ul>

    </div>
    <!--<div class="error" ng-show="weather.hasState == 'has-warning'">
        <span ng-show="weather.message" class="alert"><span class="glyphicon glyphicon-arrow-left">&nbsp;</span>{{weather.message}}</span>
    </div>-->
    
    <div class="header-logo">
   
        <div class="row">
            <div >
                <img class="col-lg-4" src="{{organization.OrganizationLogoUri}}" style="height:60px;width:150px;" />
            </div>
            <label class="header-label">Energy Management</label>
            
        </div>
        
    </div>

   
    
</div>